@*Strongly Typing a View you use @model below*@
@model HomeDetailsViewModel

@{
    ViewBag.Title = "Employee Details";
}

<h3>@Model.PageTitle</h3>

<div>
    Name: @Model.Employee.Name @*To access the model object properties we use @Model *@
</div>
<div>
    Email: @Model.Employee.Email
</div>
<div>
    Department: @Model.Employee.Department
</div>

@section  Scripts{ 
<script src="~/js/CustomScript.js"></script>
}


